<h2>Overview</h2>
<p>Short description of the dataset/object(s) of the upload</p>
<h2>Abstract</h2>

<h2>Talk Information</h2>

<h2>Upload Content</h2>
<table style="border-collapse: collapse; width: 100.031%;"><colgroup><col style="width: 49.9528%;"><col style="width: 49.9528%;"></colgroup>
<tbody>
<tr>
<td><strong>File</strong></td>
<td><strong>Description</strong></td>
</tr>
<tr>
<td>File_1.ext</td>
<td>File Description 1</td>
</tr>
<tr>
<td>File_2.ext</td>
<td>File Description 2</td>
</tr>
</tbody>
</table>